<% content_for :content do %>
    <div class="content" role="main">
      <a href="" class="online-stream-btn">Онлайн стрим</a>
      <div class="content__block">
        <div class="content__block__heading heading">
          <h1>Регистрация</h1>
        </div>
        <div class="content__block__content">
          <div class="register-block">
            <%= form_for @news,url: news_path(game: params[:game], id: @news.id), :html => { :multipart => true } do |f| %>
                <% if @news.errors.any? %>
                    <ul>
                      <% @news.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                <% end %>
                <div class="info-field">
                  <label class="info-field__item info-field__item--text">
                    <%= f.text_field :title, class: "info-field__item__input", placeholder: "Заголовок" %>
                  </label>
                </div>
                <div class="info-field">
                  <label style="color: #1e1b1c;">
                    <%= f.text_area :short_text, size: "75x10", placeholder: "Текст, который будет на главной", style:"border-radius: 3px" %>
                  </label>
                </div>
                <div class="info-field">
                  <label class="info-field__item info-field__item--select">
                    <%= f.file_field :avatar %>
                  </label>
                </div>
                <div class="info-field">
                  <label style="color: #1e1b1c;">
                    <%= cktext_area :news, :text, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'standart'} %>
                  </label>
                </div>
                <div class="info-field">
                  <label class="info-field__item info-field__item--select">
                    <%= f.select :game, options_from_collection_for_select(Game.all, "id", "name") %>
                  </label>
                </div>
                <div class="info-field">
                  <%= f.submit "Изменить", class: "button-submit" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>