<% content_for :content do %>
    <div class="content" role="main">
      <a href="" class="online-stream-btn">Онлайн стрим</a>
      <div class="content__block">
        <div class="content__block__heading heading">
          <h1>Новости</h1>
        </div>
        <div class="content__block__content">
          <div class="news-thumb">
            <section class="news-thumb__img">
              <a href="">
                <%= image_tag("news-thumb.jpg", alt: "") %>
              </a>
            </section>
            <section class="news-thumb__text">
              <article>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                </p>
              </article>
              <div class="news-thumb__text__actions">
                <span class="left"><%= image_tag("user.png", alt: "") %> Medved</span>
                <span class="left"><%= image_tag("calendar.png", alt: "") %> 06.11.14</span>
                <div class="stars right">
                  <ul>
                    <li class="star star1">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star2">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star3">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star4">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star5">
                      <a href="#" onclick="return false;"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
          <div class="news-thumb">
            <section class="news-thumb__img">
              <a href="">
                <%= image_tag("news-thumb.jpg", alt: "") %>
              </a>
            </section>
            <section class="news-thumb__text">
              <article>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                </p>
              </article>
              <div class="news-thumb__text__actions">
                <span class="left"><%= image_tag("user.png", alt: "") %> Medved</span>
                <span class="left"><%= image_tag("calendar.png", alt: "") %> 06.11.14</span>
                <div class="stars right">
                  <ul>
                    <li class="star star1">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star2">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star3">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star4">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star5">
                      <a href="#" onclick="return false;"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
          <div class="news-thumb">
            <section class="news-thumb__img">
              <a href="">
                <%= image_tag("news-thumb.jpg", alt: "") %>
              </a>
            </section>
            <section class="news-thumb__text">
              <article>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                </p>
              </article>
              <div class="news-thumb__text__actions">
                <span class="left"><%= image_tag("user.png", alt: "") %> Medved</span>
                <span class="left"><%= image_tag("calendar.png", alt: "") %> 06.11.14</span>
                <div class="stars right">
                  <ul>
                    <li class="star star1">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star2">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star3">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star4">
                      <a href="#" onclick="return false;"></a>
                    </li>
                    <li class="star star5">
                      <a href="#" onclick="return false;"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
          <a href="" class="load-more">Загрузить еще</a>
        </div>
      </div>
    </div>
<% end %>